<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Certificate Authority</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Certificate Authority Home</h1>

            <p>Apply or Download with:</p>

            <a href="/apply_cert" class="btn btn-default"><span class="fa fa-user"></span> Apply Cert</a>
            <a href="/download_cert" class="btn btn-default"><span class="fa fa-user"></span> Download Cert</a>
        </div>
    </div>
</body>
</html>